<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ogre Quotes</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main class="container">
      <img src="splatter.svg" width="640" height="480" id="splat" />

      <div id="quote">
        <p><%= quote %></p>
      </div>
    </main>
  </body>
</html>
